<!doctype html>
<html>
<head>
  <script src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
  <script>
    const appId = 'sandbox-sq0idb-WpwzIdUzbwzoyFw7EGOtzA';
    const locationId = 'LV01H5R51XGQZ';

     async function initializeCard(payments) {
       const card = await payments.card();
       await card.attach('#card-container'); 
       return card; 
     }

    document.addEventListener('DOMContentLoaded', async function () {
      if (!window.Square) {
	throw new Error('Square.js failed to load properly');
      }
      const payments = window.Square.payments(appId, locationId);
      let card;
      try {
	card = await initializeCard(payments);
      } catch (e) {
	console.error('Initializing Card failed', e);
	return;
      }

       async function handlePaymentMethodSubmission(event, paymentMethod) {
	 event.preventDefault();

	 try {
	   // disable the submit button as we await tokenization and make a
	   // payment request.
	   cardButton.disabled = true;
	   const token = await tokenize(paymentMethod);
	   const paymentResults = await createPayment(token);
	   displayPaymentResults('SUCCESS');

	   console.debug('Payment Success', paymentResults);
	 } catch (e) {
	   cardButton.disabled = false;
	   displayPaymentResults('FAILURE');
	   console.error(e.message);
	 }
       };

       const cardButton = document.getElementById(
	 'card-button'
       );
       cardButton.addEventListener('click', async function (event) {
	 await handlePaymentMethodSubmission(event, card);
       });


    });

     // Call this function to send a payment token, buyer name, and other details
     // to the project server code so that a payment can be created with 
     // Payments API
     async function createPayment(token) {
        try { 
	  const payload = {
	    timestamp: new Date().getTime() + '',
	    amount: {{amount}},
	    currency: 'USD', 
	    payees: [] 
	  };
      
	  const res = await fetch(`http://127.0.0.1:7243/processor/stripe/intent`, {
	    method: 'put',
	    body: JSON.stringify(payload),
	    headers: {'Content-Type': 'application/json'}
	  });

	  const response = await res.json();
          return response;
       } catch(err) {
         throw err;
       }
/*       const body = JSON.stringify({
	 locationId,
	 sourceId: token,
	 idempotencyKey: window.crypto.randomUUID(),
       });
       const paymentResponse = await fetch('/payment', {
	 method: 'POST',
	 headers: {
	   'Content-Type': 'application/json',
	 },
	 body,
       });
       if (paymentResponse.ok) {
	 return paymentResponse.json();
       }
       const errorBody = await paymentResponse.text();
       throw new Error(errorBody);*/
     };

     // This function tokenizes a payment method. 
     // The ‘error’ thrown from this async function denotes a failed tokenization,
     // which is due to buyer error (such as an expired card). It's up to the
     // developer to handle the error and provide the buyer the chance to fix
     // their mistakes.
     async function tokenize(paymentMethod) {
       const tokenResult = await paymentMethod.tokenize();
       if (tokenResult.status === 'OK') {
	 return tokenResult.token;
       } else {
	 let errorMessage = `Tokenization failed-status: ${tokenResult.status}`;
	 if (tokenResult.errors) {
	   errorMessage += ` and errors: ${JSON.stringify(
	     tokenResult.errors
	   )}`;
	 }
	 throw new Error(errorMessage);
       }
     }

     // Helper method for displaying the Payment Status on the screen.
     // status is either SUCCESS or FAILURE;
     function displayPaymentResults(status) {
       const statusContainer = document.getElementById(
	 'payment-status-container'
       );
       if (status === 'SUCCESS') {
	 statusContainer.classList.remove('is-failure');
	 statusContainer.classList.add('is-success');
       } else {
	 statusContainer.classList.remove('is-success');
	 statusContainer.classList.add('is-failure');
       }

       statusContainer.style.visibility = 'visible';
     }    


  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.00, maximum-scale=1.00, minimum-scale=1.00">

  <!--these are the tags that create the web preview card. You can use og:, or twitter: tags or both-->
  <meta name="twitter:title" content="{{title}}">
  <meta name="description" content="{{description}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="{{image}}">

  <meta name="og:title" content="{{title}}">
  <meta name="og:description" content="{{description}}">
  <meta name="og:image" content="{{image}}">

  <title>{{title}}</title>
</head>
<body>
<teleport pubKey="{{pubKey}}" signature="{{signature}}" message="{{title}}{{description}}{{amount}}" spell="sanora-club" amount="{{amount}}">
<div style="width:100%;overflow:hidden;">
  <img style="width:100%;height:auto;" src="{{image}}"></img>
  <br>
  <h2>{{title}}</h2>
  <br>
  <br>
  <h4>{{description}}</h4>
</div>
</teleport>
<br>
<br>
 <form id="payment-form">
   <div id="card-container"></div>
   <button id="card-button" type="button">Pay {{amount}}</button>
 </form>
 <div id="payment-status-container"></div>
</body>
</html>
